.time {
    display:grid;
    grid-template: 1fr / repeat(8,1fr);

    position: relative;
    width: fit-content;
    margin: auto;

    border: 2px solid darkred;
    background-color: #ffff88;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: serif;
    color: black;
    margin: 0;

}

.loginControl {
    width: fit-content;
    position: relative;

    margin: auto;   
}

label {
    position: relative;
}

.Above {
    position: absolute;
    z-index: 10;
    top:0px;
    right:0px;
}
